
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="col">
        <div class="col-4" background="red">
            <h2>Details</h2>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn-success demo" onClick="education()">Education</button>
                </div><br/>
                <div class="col-3">
                    <button type="button" class="btn-danger demo" onClick="experience()">Experience</button>
                </div><br />
                <div class="col-3">
                    <button type="button" class="btn-primary demo" onClick="hobbies()">Hobbies</button>
                </div><br />
                <div class="col-3">
                    <button type="button" class="btn-info demo" onClick="skills()">Skills</button>
                </div><br />
            </div>
           
        </div>
        
    </div>
</div>






